/* Górny pasek nawigacji */
.navbar {
    font-size: 1.2rem;
}

.navbar-brand span {
    color: #242424;
}

.navbar-brand {
    font-size: 1.6rem;
}

/* Ciało strony */

body {
    font-size: 1rem;
    font-family: "Trebuchet MS", Verdana, Arial;
    overflow: auto;
}

.toast {
    background-color: rgba(255, 255, 255, 1);
}

[v-cloak] {
    display: none;
}

.fa-input {
    font-family: FontAwesome, ‘Helvetica Neue’, Helvetica, Arial, sans-serif;
}

.niebieskie-tlo {
    background-color: #008bb9;
}

.lekko-niebieskie-tlo,
.lekko-niebieskie-tlo:focus {
    background-color: #cbecfa;
}